name: ADF CI CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy-adf:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Deploy ADF ARM Template (TEST)
      uses: azure/arm-deploy@v1
      with:
        scope: resourcegroup
        resourceGroupName: covid-reporting-test-rg
        region: southindia
        template: ARMTemplateForFactory.json
        parameters: parameters-test.json
        deploymentName: adf-test-deployment
